body {
    margin: 0;
    font-family: Arial, serif;
    background-color: white;
}

/*header*/
header {
    margin: 0 0 35px;
    height: 100%;
    text-align: center;
    color: black;
}

/*headings*/

h1, h2, h3, h4 {
    margin: 0;
}

h1.fake-logo {
    font-size: 70px;
}

/*lists*/
ul{
    margin:0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

li {
    padding: 0;
}

/*main content*/
main{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 95px;
}

section.search {
    margin-bottom: 35px;
    margin-top: 35px;
}


p.notice-data {
    margin: 0;
    padding: 0;
}

.plan-notice {
    display: block;
    background-color: #fff3f3;
    /*border: 1px solid black;*/
    margin-top: 35px;
    padding: 10px 15px 15px;
    box-shadow: 1px 1px 3px #cbcbcb;
    border-radius: 5px;
    color: black;
}

/*buttons*/

a {
    text-decoration: none;
    color: #700000;
}

a.back-btn{
    border: 1px solid black;
    padding: 8px;
}

section.interaction-btn {
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

button{
    appearance: none;
    border-radius: 2px;
    background-color: white;
    border: 0;
    box-shadow: 1px 1px 2px #000000;

}

/*profile pic*/
.profile-pic {
    height: 100px;
}

/*footer*/
.sticky-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: pink;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

.bottom-nav {
    font-size: 50px;
}
